/**
    1. iKure whims version 3.0.0
    2. Release date: 12-Mar-2020
    3. Author: Punith H T
*/
.error {
    color: red;
}
a{
    text-decoration: none;
}

.eye-section{
    background-color: #f4f6f9;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
}
.padtls {
    border: 1px solid lightgray;
    background-color: #f1f1f1;
    color: black;
    margin-left: 10px;
    padding: 20px 20px 0px 20px;
}
.paimg {
    
}
.eye-under{
    border-bottom: 2px solid #ffff;
    width: 30%;
}
.pimage{
    height: 250px;
   border: 2px solid black;
    margin-top: 30px;
    border-radius: 35px;
    background-color: white;
}
.paddr{
    height: 250px;
   border: 2px solid black;
    margin: 65px 25px 0 25px;
    border-radius: 35px;
    background-color: white;
    padding: 40px;
}
.ptdetail {
    padding-left: 7px;
}
.psub{
    float: right;
    background-color: white;
}
.paddr ul{
    color: black;
}

.eyevn{
    font-family: 'Nunito Sans', sans-serif;
    padding-bottom: 75px;
    background-color: #f4f6f9;
}
.underline{
    border-bottom: 1px solid #50a3b8;
    margin-bottom: 20px;
}
.hedbg{
    background-color: #f2941d;
}
.vision {
    border: 1px solid lightgray;
    padding: 20px;
    margin-left: 15px;
    margin-top: 15px;
    background-color: #2b282824;
    color: black;
}
.vision h6{
    font-size: 20px;
    margin-bottom: 0px;
}
.vision.Autoref {
    padding-bottom: 50px;
}
.paddres ul li i{
    margin-right: 10px;
}
.paimg img{
    width: 100px;
    height: 100px;
}
.palink {
    float: right;
}

.palink p{
    margin: 0;
}
.pabtns{
    float: right;
    padding-top: 20px;
    padding-right: 5px;
}
.pbtn{
    margin-right: 20px;
}
label:not(.form-check-label):not(.custom-file-label) {
    font-weight: normal;
}
.vision label{
    margin-bottom: 0px;
}
.card-title.patient_prescript_title{
    font-size: 25px !important;
}

.card-header.patient_prescript_header {
    background-color: white;
}
span.patient_data {
    border: 1px solid lightgray;
    padding: 5px;
    width: 30%;
}
.patient_details {
    background-color: white;
    padding: 0px 10px;
}
.card-body.patient_prescript_body {
    color: #7c7c7c;
}
img.img-fluid.pdf_icon {
    max-width: 60%;
}
.container-fluid.patient_report_tab {
    background-color: white;
    padding-bottom: 10px;
}

.tab-content.patient_prescript_tab>.active {
    display: block;
    background-color: #eff3ee;
    padding: 0px 30px;
    
}
.nav-tabs.patient_prescript_nav .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    background-color: #eff3ee;

}
.borderl{
    border-bottom: 1px solid lightgrey;
}
.referbvh{
    margin-top: 15px;
}
.boxshadow{
    box-shadow: 2px 0px 4px 0px lightgrey;
    padding: 4px 15px;
}
thead.patientlist_thead {
    background-color: white;
}
.btn.btn-outline-dark.action_btn{
    padding: 3px 20px;
}
.content-header.patientlist_header {
    background-color: white;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 15px;
}
.card-body.list_body {
    background-color: #f4f6f9;
}
.card.listof_patient {
    box-shadow: none;
}
table#patients {
    box-shadow: 0px 0px 3px black;
}
.content-header.prescriptionsview {
   
    box-shadow: 0px -1px 2px 0px black;
    padding: 20px 0px 0px 20px;
    margin: 0px 7px;
}
.view_button {
    position: absolute;
    right: 25px;
    top: 145px;
}
.parent.positionbtn{
    position: relative;
}
.patientdata{
    background-color: #f2f2f2;
    padding: 5px 20px;
}
td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
}
.subh_border{
    width: 10%;
    border: 1px solid black;
}
.data_box {
    padding: 20px;
    margin-top: 20px;
    background-color: #cdcfd230;
    margin-bottom: 20px;
}
.subdata_box1 {
    background-color: white;
    padding: 10px;
    font-weight: 600;
    box-shadow: 0 0 2px grey;
}
.subdata_box2{
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 2px grey;
}
.patient_image img{
    border-radius:50%;
}
table.table.medicine_time {
    background-color: white;
}
.generaldata{
    padding: 20px;
    background-color: #f4f6f9;
    color: black;
}
.general_input{
    margin: -8px;
    padding: 25px;
    background-color: #f4f6f9;
    color: black;
}
.marginbottom{
    margin-bottom: 15px;
}
a#removeDrop {
    color: #2b282824;
}
.deleteikon a{
  color: #2b282824;
  text-decoration: none;
}
.add-record:hover{
    background-color: #2b282824;
    border: none;
}
.addmedicine:hover{
    background-color: #2b282824;
    border: none;
}
.addmedicine{
    background-color: #2b282824;
    border: none;
}
.medicine_th{
    padding: .375rem .75rem;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.bill_header{
    background-color: #dad7d721;
    padding-top: 15px;
    padding-left: 15px;
}
.gst_box{
    border: 1px solid darkgray;
    padding: 5px 10px;
}
.farm_control{
    outline: 0;
    border-width: 0 0 1px;
    background-color: #fafafa;
    width: 60%;
    padding-left: 10px;
    margin-left: 10px;
}
.inputclass{
    border-width: 0 0 0;
    width: 100%;
}
.usertable{
    background-color: #fff;
}
.details_class{
    background-color: #f4f6f957;
}
.input_block{
    border: 1px solid lightgray;
    padding: 15px;
    background-color: #fbfcfd;
    margin-bottom: 10px;
}
.opt_patient{
    box-shadow: 0px 0px 5px 2px lightgrey;
    padding: 15px;
}
.queblock{
    font-family: 'Nunito Sans', sans-serif;
    background-color: #f4f6f9;
    padding: 20px 20px 75px 20px;
}
.timeslot {
    position: relative;
    display: inline-block;
    width: 20%;
    height: 75px;
    margin-right: 55px;
}
.slotslider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffff;
    -webkit-transition: .4s;
    transition: .4s;
    color: black;
    border: 1px solid darkgray;
    border-radius: 5px;
}
input:checked + .slotslider {
    background-color: #50a3b8;
    color: white;
}
.timeslot input {
    opacity: 0;
    width: 0;
    height: 0;
}
input:checked + .slotslider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slotslider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    /* background-color: white; */
    -webkit-transition: .4s;
    transition: .4s;
}
.slotslider b {
    margin: 10%;
    position: absolute;
    margin-top: 5%;
}
.historyblock{
    background-color: rgba(0,0,0,.03);
    padding: 10px;
}
.block {
    display: block;
    padding-bottom: 30px;
}
.added_block{
    border-top: 1px solid gray;
    padding-top: 5px;
    padding-bottom: 35px;
}
.shadowbox {
    padding: 10px;
    box-shadow: 0 0 5px 0px #dfdfdf;
}
.shadowblock {
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px 0px #dfdfdf;
}
.org_formcontrol {
    outline: 0;
    border-width: 0 0 2px;
    border-color: #EBEBEB;
    width: 100%;
    position: relative;
}
.buttonext{
    background: transparent !important;
    border: 1px solid transparent !important;
    cursor: pointer !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 18px !important;
    margin: 0px !important;
    outline: none !important;
    padding: 0 16px !important;
    border-radius: 21px !important;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18) !important;
    height: 42px !important;
    transition: box-shadow 0.2s ease !important;
    background-color: #FFFFFF !important;
    border-color: #EBEBEB !important;
    color: #222222 !important;
    width: 100%;
    text-align: center;
}
.buttonext:hover:not(:active) {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12) !important;
}